body {
  margin: 0;
}
.main {
  height: 600px;
  width: 50%;
}
.main-input {
  width: 300px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid black;
  margin-left: 10%;
  margin-top: 500px;
  font-size: 16px;
}
.vl {
  border-left: 3px solid green;
  height: 550px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
