body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.page {
  display: flex;
}
.info-block {
  padding: 25px 0 50px 0;
}
.separator {
  width: auto;
  background-color: black;
  height: 3px;
  margin-top: 40px;
}
.info-form {
  border: 1px solid black;
  width: 50%;
  height: 50px;
  margin-left: 20%;
  border-radius: 5px;
  position: relative;
}
.info-form span {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.map-img {
  width: auto;
}
.forms {
  padding-top: 25px;
  border-left: 3px solid black;
  width: 100%;
}
.upper-form {
  border-bottom: 3px solid black;
  padding-bottom: 25px;
  padding-left: 25%;
}
.bottom-form {
  margin-left: 25%;
  margin-top: 100px;
}
.input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  width: 300px;
}
p {
  font-weight: bold;
}
.btn {
  padding: 10px 0 10px 0;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
