body {
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  width: 1200px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px black solid;
}
.info-block {
  padding: 10px 0 10px 0;
  
}
.separator {
  width: 100%;
  background-color: black;
  height: 3px;
  margin-top: 20px;
}
.info-form {
  text-align: center;
  font-size: 14px;
  max-width: 500px;
}
.list-of-parcels {
  white-space: nowrap;
  width: 500px;
}
.list-header {
  width: 100%;
  text-align: center;
}
ul {
  margin-left: 50px;
}
.forms {
  padding-top: 25px;
  border-left: 3px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.upper-form {
  border-bottom: 3px solid black;
  padding-bottom: 25px;
  padding-left: 25%;
}
.bottom-form {
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 100%;
}
.input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0 10px 25px;
  width: 50%;
}
p {
  font-weight: bold;
}
.btn {
  padding: 10px 0 10px 0;
  width: 55%;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
